# NLP analysis objectives
- switch to outscraper to extract full information of reviews ✓
- check if the place might have water army?
- extract the most related
- use sentiment analysis to analysis the score rather than using google score
- NLTK

# To Do:
- download a set of data with only reviews and rating or Aurther ✓
- Word2vec to show its true reviews
- sentiment analysis to measure its true value

# Tech issue
- maybe code a function to download necessary nlp trained model

In [27]:
import pandas as pd
from nltk.corpus import stopwords
import nltk
from nltk.stem import WordNetLemmatizer,PorterStemmer
from nltk.tokenize import word_tokenize
import numpy as np
import re,string

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /home/aipen/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/aipen/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [17]:
df=pd.read_csv('data_references/restuarant_data1.csv')
df=df[['review','rating']]
df

                                                review  rating
0    Fantastic experience. Staff were very welcomin...       5
1    We held a funeral reception at The Dore Grill,...       5
2    Fantastic food. Friendly staff, lovely atmosphere       5
3    Such a lovely meal to celebrate friend's birth...       5
4    Amazing place extremely friendly staff, Head c...       5
..                                                 ...     ...
215  A warm welcome and lead to a beautifully laid ...       5
216  Lovely welcome. Friendly helpful staff. Comfor...       5
217  We had a fantastic meal here last night. The f...       5
218  Just celebrated a family 80th birthday for 20p...       5
219  As always...warm, welcoming and comfortable. G...       5

[220 rows x 2 columns]

In [36]:
def clean_data(word):
    model= stopwords.words('english')
    trim_s=WordNetLemmatizer()
    word = ''.join([i for i in word if not i.isdigit()])
    word = word_tokenize(word.lower())
    word = [i for i in set(word) if i.isalpha() and i not in string.punctuation and i not in model]
    return " ".join(word)

'wword'

In [ ]:
df['true_review']=np.vectorize(clean_data)(df.review)